<h1>Projetos</h1>
<div class="content">
    <div class="projects">
        <a
            *ngFor="let project of projectsService.projectsCape, let i = index"
            [routerLink]="['/', 'projeto', project.id]"
            class="project"
        >
            <div class="image" [ngStyle]="{
                'background': 'url(' + project.cover + ')'
            }"></div>
            <div [ngStyle]="{'background-image': 'url(' + project.cover + ')'}" alt="Capa do Projeto"></div>
            <p class="name">{{ project.name }}</p>
            <p class="description">{{ project.shortDescription }}</p>
        </a>
    </div>
    <div class="buttons" *ngIf="isPanel">
        <a [routerLink]="['adicionar', 'projeto']" class="button">Adicionar</a>
    </div>
</div>
