@import "../../styles.scss";

app-side-bar{
    @extend .font-light;
    background-color: $color-primary;
    border-right: 3px solid $color-primary-2;
    box-shadow: 2px 0px 16px rgba(44, 43, 118, 0.4);
    position: relative;
    width: 30vw;
    height: 100vh;
    max-width: 330px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
}
main{
    @extend .font-primary;
    padding: 25px;
    background: $bg-color;
}