<div class="container" *ngIf="loaded && skill !== undefined">
    <arrow-to-back></arrow-to-back>
    <div class="content-image">
        <div class="image" [ngStyle]="{
            'background-image': 'url(http://localhost:3000/' + skill.pathImage +')'
        }"></div>
    </div>
    <h2 class="box-light">{{ skill.name }}</h2>
    <p class="description box-light">
        {{ skill.description }}
    </p>
    <div class="buttons">
        <a class="button" target="_blank" [href]="skill.link">Layout</a>
        <button class="button" (click)="redirectToEdit()" *ngIf="isEditable">Editar</button>
    </div>
</div>
<div class="loading" *ngIf="!loaded || skill == undefined"></div>