@import '../../../styles.scss';

.spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0000005e;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner:after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $color-light;
    border-color: $color-light transparent $color-light transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}