@import "../../../styles.scss";

h1{
    flex-direction: row;
}
.content{
    align-items: flex-start;
}
.boxs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    .box{
        width: calc(100% / 4 - 1.5%);
        h3{
            font-size: 25px;
        }
    }
}
p.description{
    text-align: justify;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    div{
        @extend .center;
        width: calc(100% / 3 - 1.5%);
        flex-direction: column;
        box-shadow: $box-shadow;
        justify-content: flex-start;
        background-color: #fffdfd;
        border-radius: 8px;
        padding: 10px 15px;
        margin-bottom: 10px;
        gap: 10px;

        label{
          width: 100%;
        }
        input[type=text]{
          @extend .font-primary;
          width: 85%;
          border-radius: 7px;
          border: 1px solid $color-primary;
          padding: 6px 12px;
          box-shadow: $input-shadow;
          font-size: 16px;
        }
    }
}

@media screen and (max-width: 720px){
    .boxs{
        .box{
            width: calc(100% / 2 - 1.5%);
            margin-bottom: 15px;
        }   
    }
    h2{
        font-size: 22px;
    }
    p.description{
        font-size: 15px;
    }
    .links{
        div{
            width: calc(100% / 2 - 1.5%);
        }
    }
}
@media screen and (max-width: 540px){
    .boxs{
        .box{
            width: 100%;
        }   
    }
    h2{
        font-size: 19px;
    }
    p.description{
        font-size: 14px;
    }
    .links{
        div{
            width: 100%;
        }
    }
}