<h1 class="title">Sobre <strong>Mim</strong></h1>
<div class="content">
    <h2>Thierry Luan Tenório de Jesus</h2>
    <div class="boxs">
        <div class="box-dark">
            <h3>+22</h3>
            <h5>Habilidades</h5>
        </div>
        <div class="box-light">
            <h3>+2</h3>
            <h5>Projetos Publicos</h5>
        </div>
        <div class="box-dark">
            <h3>+2</h3>
            <h5>Anos de Aprendizado</h5>
        </div>
        <div class="box-light">
            <h3>+12</h3>
            <h5>Cursos</h5>
        </div>
    </div>
    <p
        class="description"
        [attr.contenteditable]="isEdit"
    >
        {{informationService.information?.description}}
    </p>
</div>