@import "../styles.scss";

app-side-bar{
    @extend .font-light;
    background-color: $color-primary;
    border-right: 3px solid $color-primary-2;
    box-shadow: 2px 0px 16px rgba(44, 43, 118, 0.4);
    position: relative;
    width: 30vw;
    height: 100vh;
    max-width: 330px;
    min-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    flex: none;
}
main{
    @extend .font-primary;
    padding: 20px;
    background: $bg-color;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    transition: .3s ease-out;
    &.hasBackdrop{
        filter: blur(3px);
    }
}
.menu-bar-icon{
    position: fixed;
    left: 15px;
    top: 50px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: $color-primary;
    box-shadow: $box-shadow;
    z-index: 3;
}
mat-sidenav{
    box-shadow: 2px 0px 35px 9px rgba(80, 79, 172, 0.5);
}
app-alert{
    z-index: 5;
}
.initial-loading{
    @extend .loading;
    z-index: 4;
    background-color: rgba($color-primary, 0.975);
}

@keyFrames fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
