<h1>Habilidades</h1>
<div class="content">
    <div class="skills">
        <a
            *ngFor="let skill of skillService.capeOfSkills, let i = index"
            [ngClass]="{
                'box-dark': i % 2 == 0,
                'box-light': i % 2 !== 0,
                'skill': true
            }"
            [routerLink]="['habilidade', skill.id]"
        >
            <p>{{ skill.name }}</p>
        </a>
    </div>
    <div class="buttons" *ngIf="isPanel">
        <a [routerLink]="['adicionar', 'habilidade']" class="button">Adicionar</a>
    </div>
</div>
