<form [formGroup]="form" (ngSubmit)="login()">
    <div class="field">
        <label for="login-email">Email</label>
        <input type="text" formControlName="email" id="login-email" placeholder="Email...">
    </div>
    <div class="field">
        <label for="login-password">Senha</label>
        <input type="text" formControlName="password" id="login-password" placeholder="Senha...">
    </div>
    <div class="buttons">
        <button type="submit" class="button">Entrar</button>
    </div>
</form>
<div class="loading" *ngIf="loading"></div>