<h1>Cursos</h1>
<div class="content">
    <div class="courses">
        <a
            *ngFor="let course of coursesService.capeCourse, let i = index"
            [routerLink]="['/', 'projeto', course.id]"
            class="course"
        >
            <div class="image" [ngStyle]="{
                'background': 'url(' + course.cover + ')'
            }"></div>
            <p class="name">{{ course.name }}</p>
            <p class="description">{{ course.shortDescription }}</p>
        </a>
    </div>
    <div class="buttons" *ngIf="isPanel">
        <a [routerLink]="['adicionar', 'projeto']" class="button">Adicionar</a>
    </div>
</div>
