$color-primary-0: #49489C;
$color-primary: #27267C;
$color-primary-2: #18177B;
$font-primary: #F0F0FF;
$font-dark: $color-primary-2;
$color-light: #F9F9FF;
$bg-color: linear-gradient(90deg, #EFEFFF 0.01%, #F3F3FA 100%);
$max-width: 87.5vw;
$font-shadow-primary: -1px 1px 2px rgba(121, 121, 245, 0.21);
$font-shadow-light: -1px 1px 2px rgba(39, 38, 124, 0.212);
$font-shadow-dark: -1px 1px 2px rgba(13, 12, 81, 0.3);
$input-shadow: -1px .5px 3px 0px #49489C82, inset 0px 0px 6px 1px #49489C82;
$box-shadow: 0px 2px 8px rgba(39, 38, 124, 0.3);
$tag-shadow: 0px 1px 5px rgba(39, 38, 124, 0.2);
$fields-form-line: 2;
$items-line: 4;

@mixin set-items-line($items){
  .box-content-links{
    a{
      $margin: .5% * $items;
      width: 100% / $items - $margin;
      margin-bottom: calc($margin + 7px);
    }
  }
}

main{
  background-color: $bg-color !important;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html, body{
	height: 100%;
}
button{
  cursor: pointer;
}
a{
	text-decoration: none;
}
input[type=file]{
  display: none;
}
*:focus{
	outline: none;
}
app-spinner{
  position: fixed;
}
app-root{
  display: flex;
  min-height: 100%;
}
app-root > * {
  flex: 1;
}
app-page{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
app-header, footer, app-footer, router-outlet{
  flex: initial;
}
app-alert{
  position: fixed;
}
h1{
  @extend .box-light;
  width: auto;
  font-size: 28px;
}
.font-light{
  color: $font-primary;
  text-shadow: $font-shadow-dark;
  font-weight: 600;
}
.font-primary{
  color: $font-dark;
  text-shadow: $font-shadow-dark;
  font-weight: 600;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;

  .title{
    font-weight: 600;
    strong{
      font-weight: 700;
    }
  }

  .content{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.init-page-container{
}
.box{
  padding: 10px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: $color-light;
  border-radius: 10px;
  text-align: center;
}
.box-dark{
  @extend .box;
  @extend .font-light;

  background-color: $color-primary-2;
}
.box-light{
  @extend .box, .font-primary;
  padding: 10px 15px;
}
.box-animate{
  transition: 0.4s cubic-bezier(.55,-0.73,.56,1.93);
  cursor: pointer;

  &:hover{
    transform: translateY(-3px) scale(1.075);
  }
}
@include set-items-line(4);
.box-content-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  a{
    @extend .box-animate;
    justify-content: center;
  }
}
.container-to-add{
  background: $bg-color;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0px;
  gap: 10px;
}
.button{
  @extend .font-primary, .box-animate;
  border-radius: 7px;
  border: 1px solid $color-primary;
  padding: 6px 12px;
  box-shadow: $input-shadow;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.205);
}
.button-danger{
  @extend .button;
}
.image{
  $width: 100%;
  width: $width;
  padding-bottom: $width / 5 * 3;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  box-shadow: $box-shadow;
  position: relative;
}

form{
  $field-width: 100% / $fields-form-line - .5% * $fields-form-line;
  $space: 100% - ($field-width * $fields-form-line);
  display: flex;
  flex-wrap: wrap;
  gap: $space;

  .field{
    @extend .center;
    flex-direction: column;
    box-shadow: $box-shadow;
    justify-content: flex-start;
    width: $field-width;
    background-color: #fffdfd;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: $space;
    gap: 10px;

    label{
      width: 100%;
    }
    input[type=text]{
      @extend .font-primary;
      width: 85%;
      border-radius: 7px;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      box-shadow: $input-shadow;
      font-size: 16px;
    }
    textarea{
      @extend .font-primary;
      width: 90%;
      border-radius: 7px;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      box-shadow: $input-shadow;
      font-size: 16px;
      resize: none;
      height: 150px;
    }

    @media screen and (max-width: 580px){
      width: 100%;
    }
  }

  .big-field{
    @extend .field;
    width: 100%;
  }
}

.edit-order-models{
	display: flex;
	flex-direction: column;
}

.box-tags{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 12px;
	& > div{
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 10px;
	}
}

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0000005e;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.loading:after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $color-light;
    border-color: $color-light transparent $color-light transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1400px){
  @include set-items-line(3);
}
@media screen and (max-width: 720px){
  @include set-items-line(2);
}
@media screen and (max-width: 580px){
  @include set-items-line(1);
}