$color-primary-0: #49489C;
$color-primary: #27267C;
$color-primary-2: #18177B;
$font-primary: #F0F0FF;
$font-dark: $color-primary-2;
$color-light: #F9F9FF;
$bg-color: linear-gradient(90deg, #EFEFFF 0.01%, #F3F3FA 100%);
$max-width: 87.5vw;
$font-shadow-primary: -1px 1px 2px rgba(121, 121, 245, 0.21);
$font-shadow-light: -1px 1px 2px rgba(39, 38, 124, 0.212);
$font-shadow-dark: -1px 1px 2px rgba(13, 12, 81, 0.3);
$input-shadow: -1px .5px 3px 0px #49489C82, inset 0px 0px 6px 1px #49489C82;
$box-shadow: 0px 2px 8px rgba(39, 38, 124, 0.3);
$tag-shadow: 0px 1px 5px rgba(39, 38, 124, 0.2);
$items-line: 3;
$fields-form-line: 2;

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html, body{
	height: 100%;
  background-color: $bg-color
}
button{
  cursor: pointer;
}
a{
	text-decoration: none;
}
input[type=file]{
  display: none;
}
*:focus{
	outline: none;
}
app-spinner{
  position: fixed;
}
app-root{
  display: flex;
  min-height: 100%;
}
app-root > * {
  flex: 1;
}
app-page{
  display: flex;
  flex-direction: column;
}
app-header, footer, app-footer, router-outlet{
  flex: initial;
}
app-alert{
  position: fixed;
}
.font-light{
  color: $font-primary;
  text-shadow: $font-shadow-dark;
  font-weight: 600;
}
.font-primary{
  color: $font-dark;
  text-shadow: $font-shadow-dark;
  font-weight: 600;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;

  .title{
    font-weight: 600;
    strong{
      font-weight: 700;
    }
  }

  .content{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.box{
  padding: 10px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: $color-light;
  border-radius: 10px;
  width: 22.5%;
  text-align: center;
}
.box-dark{
  @extend .box;
  @extend .font-light;

  background-color: $color-primary-2;
}
.box-light{
  @extend .box;
  @extend .font-primary;
}
.box-animate{
  transition: 0.4s cubic-bezier(.55,-0.73,.56,1.93);
  cursor: pointer;

  &:hover{
    transform: translateY(-3px) scale(1.1);
  }
}
.container-to-add{
  background: $bg-color;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button{
  @extend .font-primary;
  @extend .box-animate;
  border-radius: 7px;
  border: 1px solid $color-primary;
  padding: 6px 12px;
  box-shadow: $input-shadow;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.205);
}
.image{
  $width: 100%;
  width: $width;
  padding-bottom: $width / 5 * 3;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  box-shadow: $box-shadow;
  position: relative;
}

form{
  $field-width: 100% / $fields-form-line - .5% * $fields-form-line;
  $space: 100% - ($field-width * $fields-form-line);
  display: flex;
  flex-wrap: wrap;
  gap: $space;

  .field{
    @extend .center;
    flex-direction: column;
    box-shadow: $box-shadow;
    width: $field-width;
    background-color: #fffdfd;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: $space;
    gap: 10px;

    label{
      width: 100%;
    }
    input[type=text]{
      @extend .font-primary;
      width: 85%;
      border-radius: 7px;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      box-shadow: $input-shadow;
      font-size: 16px;
    }
  }
}