@import "../../../styles.scss";

.cover{
    width: 90px;
    height: 90px;
    border: 2px solid $color-light;
    border-radius: 50%;
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.short-name, .role, .email{
    text-align: center;
}
.short-name{
    font-weight: 600;
    font-size: 22px;
}
.navigation{
    display: flex;
    flex-direction: column;
}
.navigate{
    padding: 8px 0px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}
.navigate::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #49489C;
    bottom: 0px;
    left: 0px;
}
.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
}